__pycache__
build
Calc.py
count.txt
DataCompile.py
Defs.py
dist
Fiber.py
Fiber_beta1.py
Fiber_beta2.py
Fiber_beta3.py
Fiber_beta4.py
Fiber_beta5.spec
Fiber_beta5_decompose.py
Fiber_beta5-1.py
GoLPPNG.png
ISTPNG.png
millis.txt
mult.txt
setup.py
Test.py
Wave.ai
WavePNG.png
.vscode/settings.json
.vscode/launch.json
